<!doctype html>
<html>
    <head>
        <title>Erro interno</title>
        <style>
            body {
                font-family: Arial;
                background: #f6f7f9;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }
            .box {
                text-align: center;
            }
            h1 {
                font-size: 60px;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>500</h1>
            <p>Algo deu errado. Tente novamente mais tarde.</p>
        </div>
    </body>
</html>
