<!-- notification_history.html -->
{% extends "base.html" %} {% block title %}Histórico de Visualização{% endblock
%} {% block content %}
<h1>Histórico de Visualização</h1>

<table class="admin-table">
    <thead>
        <tr>
            <th>Notificação</th>
            <th>Usuário</th>
            <th>Lida?</th>
            <th>Data de leitura</th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.notification.title }}</td>
            <td>{{ status.user.name }}</td>
            <td>{{ status.read|yesno:"Sim,Não" }}</td>
            <td>{{ status.read_at|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
